/* 

Tiempo Fluido
-------------

Martín Ochoa
2016-03-17


*/


.btn,
button
{
  border: 0;
  border-radius: 16px;
  cursor: pointer;
}
.seccion,
.subseccion
{
 /**/ display: none; /**/
}

.plantilla_html
{
  /**/display:none;/**/
  border: 1px solid #f00;
  margin: 1em;
}

body
{
  padding-top: 130px;
  padding-bottom: 4em;
}
#mi_cabecera
{
  position: fixed;
  height: 100px;
  top: 0;
  left: 0;
  right: 0;
  background-color: #f70;
  box-shadow: 0 2px 2px rgba(0,0,0,.5);
}


.barra ul,
.barra li
{
  list-style: 0 none;
  margin: 0;
  padding: 0;
}

.barra li
{
  display: inline-block;
}
.barra a
{
  display: block;
  background: #000;
  color: #f70;
  text-decoration: none;
  text-align: center;
  font-size: 1em;
  border-radius: 4px;
  padding: 1em .5em;
  margin: .25em;
}

.barra a.actual
{
  color: #000;
  background-color: #f70;
}

#menu_accion
{
  position: fixed;
  bottom: 0;
  left: 0;
  right:0;
  background-color: #f70;
}
#menu_accion ul
{
  text-align: center;
}
#menu_accion li
{
  display: inline-block;
}

button
{
  display: inline-block;
  background-color: #000;
  color: #f70;
  text-decoration: none;
  text-align: center;
  font-size: 1.33em;
  border-radius: 4px;
  padding: .25em .5em;
  margin: .25em;
  border-bottom: #f70 .25em solid;
  box-shadow: 0 4px 4px rgba(128,64,0,.5);
}

input
{
  display: block;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  text-align: left;
  font-size: 1em;
  border-radius: 4px;
  padding: .25em .5em;
  margin: .25em;
}
input[type=checkbox]
{
  width: 1em;
  height: 1em;
}

label
{
  display: block;
  color: #f70;
  text-decoration: none;
  text-align: left;
  font-size: 1em;
  border-radius: 4px;
  padding: .25em .5em;
  margin: .25em;
}
.valor
{
  font-weight: bold;
  color: #f70;
}

table.listado
{
  width:100%;
}
.listado td
{
  border: 1px solid #f00;
  background-color: #f00;
}

#listarCargas
{
  
}


#dialogos_div
{
  display: none;
  background-color: rgba(0,0,0,.15);
  position: fixed;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
}

#dialogos_div .dialogo
{
  background-color: #fff;
  border-radius: 16px;
  position: relative;
  margin: 25% 1em;
  padding: 2em;
  box-shadow: 0 30px 30px rgba(0,0,0,.5);
}

.dialogo .mensaje strong
{
  color: #e60;
}
/* INI DEV */

#consola
{
  position: fixed;
  z-index: 9000;
  top: 0px;
  right: 0px;
  width: 75%;
  min-width: 240px;
  max-width: 600px;
  height: 0px;
  margin: 0;
  padding: 0;
  padding-top: 90px;
  overflow: hidden;
  background-color: transparent;
  font-size: .9em;
  font-family: mono;
  display:block;
}

#consola.abierta
{
  background-color: #000;
  color: #0f0;
  width: 75%;
  min-width: 240px;
  max-width: 600px;
  height: auto;
  bottom: 0;
  overflow: auto;
}

#consola .cabecera
{
  position: fixed;
  top: 0;
  right: 0;
  height: 90px;
  width: 33%;
  min-width: 240px;
  z-index: 9999;
}

#consola.abierta .cabecera
{
  background-color: #111;
  box-shadow: 0 2px 8px rgba(0,255,0,.8);
}

#consola_btn
{
  position: fixed;
  top: 20px;
  right: 20px;
  width: 48px;
  height: 48px;
  background: #0f0 url("../img/iconos/consola.svg") no-repeat 0 0;
  background-size: contain;
  box-shadow: 0 8px 8px rgba(0,0,0,.5);
  border-radius: 50%;
}

#consola.abierta #consola_btn
{
  background-image: url("../img/iconos/consola_cerrar.svg");
  box-shadow: 0 2px 6px rgba(0,255,0,.95);
}

#consola_btn span
{
  display: none;
}

#consola h3
{
  display: none;
}

#consola.abierta h3
{
  position: fixed;
  display: block;
  font-size: 1em;
  padding: 0 .25em;
  margin: 0;
  top: 68px
  height: 22px;
}

#consola #log
{
  position: relative;
  color:#0f0;
  font-size: 14px;
  margin: .25em;
  height: auto;
  display: none;
  /*border: 1px solid #0f0;*/
}

#consola.abierta #log
{
  display: block;
}
#consola li
{
  width: 100%;
  margin:0;
  padding:0;
  color:#0f0;
  font-size: 1em;
  font-family: monospace;
  word-wrap: break-word;
}

#consola_fondo
{
  background-color: rgba(0,0,0,.15);
  position: fixed;
  display: none;
  top:0;
  bottom:0;
  left:0;
  right:0;
  z-index:8900;
}

#clearAllNiceAlert
{
    display:block;
    position:fixed;
    top:10px;
    left:40%;
    padding:.25em;
    background-color:#f00;
    border-radius:.25em;
    z-index:9100;
}
/* FIN DEV */

/* --------------------------------- */
/* fin css */
